/marketplace-server/node_modules/
/marketplace-server/package-lock.json

/marketplace-client/node_modules/
/marketplace-client/package-lock.json
/marketplace-client/build

/node_modules/

/.idea/

package-lock.json
